<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName" default-lazy-init="false">

	<!-- 执行定时任务的bean -->
	<bean id="jobExecuter" class="com.zero.quartz.JobExecuter"/>

	<!-- 每分钟执行task -->	
	<bean id="quarterHourJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		 
		<property name="targetObject">
			<ref bean="jobExecuter" />
		</property>
		 
		<property name="targetMethod">
			<value>quarterHourMethod</value>
		</property>
	</bean>
	
	<!--  每分钟执行表达式 -->
	<bean id="quarterHourTime"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="quarterHourJob" />
		</property>
		 
		<property name="cronExpression">
			<value>0 0/1 * * * ?</value>
		</property>
	</bean>
	
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序   -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="quarterHourTime" />
			</list>
		</property>
	</bean>

</beans>
