<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
       
    <!-- 单个的需要扫描的类 -->
	<bean id="springContextHolder" class="com.common.SpringContextHolder" lazy-init="false"/>

</beans>
